.air-img {
    display: flex;
    

}

.air-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 10px;


}

article {
    margin: 10px;


}


.air-img__star {
    display: flex;
    justify-content: space-between;

}

.air-img__star span:first-child {
    font-weight: 700;
}


.air-img__mid span{
    color: grey;
    
    
}

